*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
html,body,main{
    width: 100%;
    height: 100%;
    position: relative;
}
body{
    overflow: hidden;
}
.left{
    width: 160px;
    height: 100%;
    float: left;
    border: 1px solid #dddddd;
}
.left>ul{
    padding: 20px 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.left>ul>li{
    width: 50px;
    height: 50px;
    border: 1px solid #dddddd;
    text-align: center;
    line-height: 50px;
    color: #666666;
    font-weight: 800;
    position: relative;
}
.right{
    position: absolute;
    left: 160px;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #dddddd;
}
.bottom{
    width: 100%;
    height: 120px;
    border-top: 3px solid #dddddd;
}
.bottom>button{
    margin: 10px 10px;
    width: 60px;
    height: 40px;
    border: 1px solid #dddddd;
    background: #ffffff;
}
.save{
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    text-decoration: none;
    margin: 10px 10px;
    width: 60px;
    height: 40px;
    color: #000000;
    border: 1px solid #dddddd;
    background: #ffffff;
}
.top{
    width: 100%;
    height: calc(100% - 120px);
    position: relative;
}
.ontop{
    width: 40px;
    height: 40px;
    background: #cccccc;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.opa{
    width: 1200px;
    height: 496px;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
#textbox{
    width: 300px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #666666;
    display: none;
}
.inputnum{
    padding-left: 5px;
    width: 50px;
    height: 20px;
    border: 1px solid #dddddd;
    position: absolute;
    top: 55px;
    left: 0;
}
.tailor{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px dashed #0086b3;
    display: none;
}