@import url('base.css');
.banner{
    width: 1120px;
    height: 560px;
    margin: 0 auto;
}
.banner > ul{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.banner > ul li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transition: .5s;
}
.banner .active{
    display: block;
}
.banner .left{
    transform: translateX(-100%);
}
.banner .right{
    transform: translateX(100%);
}
.hot{
    width: 1120px;
    margin:30px auto;
}
.hot>a{
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}
.hot>a:hover{
    text-decoration: none;
}
.hot-main>ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.hot-main ul li{
    width: 265px;
    height: 205px;
    margin-top: 15px;
}
.hot-main ul li a{
    display: block;
    width: 265px;
    height: 205px;
}
.hot-main ul li a:hover{
    -ms-filter: brightness(1.1)contrast(110%);
    filter: brightness(1.1)contrast(110%);

}


.vs{
    width: 1120px;
    margin:30px auto;
}
.vs>a{
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}
.vs>a:hover{
    text-decoration: none;
}
.vs-main>ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.vs-main ul li{
    width: 550px;
    height: 225px;
    margin-top: 10px;
}
.vs-main ul li a{
    display: block;
    width: 550px;
    height: 225px;
}
.vs-main ul li a:hover{
    -ms-filter: brightness(1.1)contrast(110%);
    filter: brightness(1.1)contrast(110%);

}

.secret{
    width: 1120px;
    height: 1000px;
    margin:30px auto;
}
.secret>a{
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}
.secret>a:hover{
    text-decoration: none;
}
.secret-top{
    width: 1120px;
    height: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.secret-top>.top-left{
    width: 560px;
    height: 450px;
    float: left;
}
.secret-top>.top-left{
    width: 560px;
    height: 450px;
}
.secret-top>.top-right{
    width: 560px;
    height: 450px;
    float: right;
}
.top-right ul li:first-child a{
    width: 560px;
    height: 225px;
    float: left;
}
.top-right ul li:nth-child(2) a,
.top-right ul li:nth-child(3) a{
    width: 280px;
    height: 225px;
    float: left;
}

.secret-bottm{
    width: 1120px;
}
.bottom-left{
    width: 280px;
    height: 450px;
    float: left;
}
.bottm-right{
    width: 840px;
    height: 450px;
    float: right;
}
.bottom-right ul li{
    float: left;
}
.bottm-right ul li:nth-child(1),
.bottm-right ul li:nth-child(4){
    width: 280px;
    height: 225px;
}
.bottm-right ul li:nth-child(2),
.bottm-right ul li:nth-child(3){
    width: 560px;
    height: 225px;
}
footer{
    width: 1120px;
    height: 239px;
    margin: 0 auto;
    position: relative;
}
.erd{
    width: 315px;
    height: 200px;
    margin: 50px auto;
}
.erd>div{
    width: 105px;
    height: 100%;
}
.wx{
    float: left;
}
.app{
    float: right;
}
.eimg{
    width: 105px;
    height: 105px;
    margin-top: 40px;
}
.erd p{
    font-size: 18px;
    color: #bbb;
}
.copyr{
    width: 1120px;
    height: 33px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -560px;
    text-align: center;
    line-height: 33px;
    color: #aaaaaa;
}