*{
    margin:0;
    padding: 0;
}
img{
    width: 100%;
    height: 100%;
}
header{
    width: 1120px;
    height: 64px;
    margin: 72px auto;
    display: grid;
    grid-template-columns: 1fr 240px 1fr;
}
header > .title{
    display: block;
    height: 100%;
    text-align: center;
    line-height: 64px;
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
header > .line{
    height: 1px;
    background: #dddddd;
    margin-top: 30px;
}
main{
    width: 1120px;
    height: 403px;
    margin: 105px auto 0;
}
.main-left{
    width: 360px;
    height: 387px;
    float: left;
    margin-left: 120px;
}
.main-right{
    width: 478px;
    height: 388px;
    float: right;
    font-size: 13px;
    color: #999;
}
.info-space{
    width: 478px;
    height: 44px;
    margin-bottom: 40px;
}
.info-space input{
    background-color: #fafcff;
    margin-bottom: 0;
    display: inline-block;
    width: 323px;
    height: 14px;
    line-height: 14px;
    padding: 14px 18px;
    outline: 0;
    border: 1px solid #e5e6e8;
    border-radius: 2px;
}
.login-info{
    text-align: left;
    position: relative;

    line-height: 16px;
    text-indent: 12px;
    width: 478px;
    color: #333;
    font-size: 14px;
}
.login-info > input{
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #e5e6e8;
    position: absolute;
    left: 0;
    top: 2px;
}
.login-info > span{
    margin-left: 10px;
}
.login-info > a{
    position: absolute;
    top: 0;
    left: 282px;
    text-decoration: none;
    color: #333;
}
.login-info > button{
    border-radius: 2px;
    background: #000;
    color: #fff;
    font-size: 14px;
    width: 360px;
    height: 43px;
    line-height: 43px;
    outline: 0;
    display: block;
    padding: 0;
    border: 0;
    margin: 30px 0;
    cursor: pointer;
}
.login-in{
    text-align: left;
    position: relative;
    height: 16px;
    line-height: 16px;
    text-indent: 12px;
    width: 478px;
    color: #333;
    font-size: 14px;
}
.login-in > span{
    position: absolute;
    left: 150px;
}
.login-in > span > span{
    color: #999;
}
.login-method{
    width: 360px;
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}
.login-method > span{
    box-sizing: border-box;
    border-radius: 50%;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 36px;
    color: white;
    cursor: pointer;
}
.login-method > span:first-child{
    background: #4EBAE7;
}
.login-method > span:nth-child(2){
    background: #EB373E;
}
.login-method > span:nth-child(3){
    background: #37A5E1;
}
.login-method > span:nth-child(4){
    background: #56C13D;
}
.login-method > span:hover{
    background: white;
}
.login-method > span:first-child:hover{
    color: #4EBAE7;
    border: 1px solid #4EBAE7;
}
.login-method > span:nth-child(2):hover{
    color: #EB373E;
    border: 1px solid #EB373E;
}
.login-method > span:nth-child(3):hover{
    color: #37A5E1;
    border: 1px solid #37A5E1;
}
.login-method > span:nth-child(4):hover{
    color: #56C13D;
    border: 1px solid #56C13D;
}