@import "base.css";
main{
    width: 100%;
    height: 1020px;
    background: #ECEEF1;
}
.main-bar{
    width: 100%;
    height: 80px;
    background: #0096FF;
}
.bar{
    width: 1240px;
    height: 100%;
    margin: 0 auto;
}
.bar > .logo{
    width: 80px;
    height: 100%;
    float: left;
}
.bar > .bar-name{
    float: left;
    height: 100%;
    padding: 13px 0;
}
.name-company{
    width: 100%;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
.name-company > a{
    color: #80cbff;
}
.name-phone{
    font-size: 18px;
    color: #fff;
    width: 100%;
    height: 30px;
}
.bar > .bar-right{
    width: 160px;
    height: 100%;
    float: right;
}
.bar-right > span{
    float: left;
    display: block;
    font-size: 30px;
    color: white;
    width: 80px;
    text-align: center;
    line-height: 80px;
    height: 100%;
}
.main-body{
    width: 1240px;
    height: 875px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.play{
    width: 300px;
    height: 510px;
    background: white;
    padding: 20px;
}
.play-img{
    width: 260px;
    height: 360px;
}
.play-num{
    width: 260px;
    height: 32px;
    display: flex;
    padding: 0 25px;
    justify-content: space-around;
}
.play-num > span{
    text-align: center;
    line-height: 32px;
    width: 80px;
    height: 32px;
    font-size: 13px;
    border-radius: 16px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;

}
.num-darkb{
    border: 1px solid #0086b3;
    color: #0086b3;
}
.num-darkb > span:first-child{
    font-size: 13px;
    color: #0086b3;
}
.num-like{
    border: 1px solid #EB373E;
    color: #EB373E;
}
.num-like > span:first-child{
    font-size: 13px;
    color: #EB373E;
}
.play-tab{
    width: 260px;
    height: 78px;
}
.tab-icon{
     width: 100%;
     height: 46px;
     margin-top: 15px;
     line-height: 46px;
     padding: 0 10px;
     display: flex;
     justify-content: space-around;
 }
.tab-icon > span{
    font-size: 30px;
    color: gray;
}
.tab-title{
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    padding-left: 6px;
    color: gray;
    display: flex;
    justify-content: space-around;
}
.tab{
    width: 920px;
    height: 510px;
    background: white;
}
.tab-nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    position: relative;
}
.tab-nav > .nav-list{
    width: 110px;
    height: 100%;
    line-height: 58px;
    font-size: 12px;
    color: #59676b;
    cursor: pointer;
    text-align: center;
}
.tab-nav > .hover{
    color: #37A5E1;
    border-bottom: 2px solid #37A5E1;
}
.main{
    width: 100%;
    height: 440px;
    padding-left: 75px;
    padding-top: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.main-left{
    width: 430px;
    height: 430px;
    background: #4EBAE7;
}
.main-right{
    width: 340px;
    height: 100%;
}
.show-title{
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    color: #757e91;
    text-align: left;
}
.show-now{
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    padding-right: 65px;
}
.show-now > span{
    color: #eb2324;
    line-height: 31px;
    font-size: 30px;
}
.show-now > span > span{
    font-size: 18px;
}
.show-now > a{
    display: block;
    width: 78px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    border-radius: 4px;
    color: #ffa500;
    border: 1px solid #ffa500;
}
.show-now > a:hover{
    color: white;
    background: #ffa500;
}
.show-trend{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 65px;
}
.show-trend > span{
    font-size: 15px;
    color: #757e91;
}
.show-trend > i{
    font-size: 11px;
    color: #abb0bc;
}
.show-trend > i > span{
    color: #37A5E1;
}
.comment{
    width: 100%;
    height: 344px;
    background: white;
}







footer{
    width: 1120px;
    height: 239px;
    margin: 0 auto;
    position: relative;
}
.erd{
    width: 315px;
    height: 200px;
    margin: 50px auto;
}
.erd>div{
    width: 105px;
    height: 100%;
}
.wx{
    float: left;
}
.app{
    float: right;
}
.eimg{
    width: 105px;
    height: 105px;
    margin-top: 40px;
}
.erd p{
    font-size: 18px;
    color: #bbb;
}
.copyr{
    width: 1120px;
    height: 33px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -560px;
    text-align: center;
    line-height: 33px;
    color: #aaaaaa;
}